doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document    
h1 Your Happy.com password
h3  Greetings #{ username },
|     We recently received a request to reset your Happy.com account password.
br
|     Click the link to reset your password.
br
p
  a(href=`${ link }`) Reset password
|     Sincerely,
br
|     Happy.com Team